.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: var(--main-text-color);
    background: var(--main-bg-color);
}

.header__logo {
    padding: 10px;
    font-size: 30px;
}

.navigate__menu {
    display: flex;
    padding: 15px;
}

.menu__element {
    display: flex;
    align-items: center;
    margin-right: 15px;
}