.footer {
    background: #3f3f3f;
    color: var(--main-text-color);

    .footer__info {
        background: var(--main-bg-color);
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 30px 20px;

        .footer__columns {
            margin-right: 100px;
            position: relative;

            .footer__logo {
                font-size: 35px;
            }

            .footer__links {
                display: flex;
                flex-direction: column;
                list-style-type: none;

                .links {
                    font-size: 17px;
                    margin-bottom: 15px;
                    color: var(--main-text-color);
                }
            }


        }

        .footer__columns p {
            color: var(--secondary-text-color);
            font-size: 23px;
            margin-bottom: 20px;
        }

        .footer__links a {
            position: relative;
            text-decoration: none;
            font-size: 17px;
            margin-bottom: 15px;
            color: var(--main-text-color);
        }

        .footer__links a::after {
            content: '';
            position: absolute;
            bottom: -7px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--main-button-color);
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.3s ease-out;
        }

        .footer__links a:hover::after {
            transform: scaleX(1);
        }
    }

    .footer__rights {
        text-align: center;
        background: var(--secondary-bg-color);
        padding: 15px 0;
    }
}