.footer {
    background: #3f3f3f;
    color: var(--main-text-color);
}

.footer__info {
    background: var(--main-bg-color);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 20px;
}

.footer__columns {
    margin-right: 100px;
}

.footer__logo {
    font-size: 35px;
}

.footer__links {
    display: flex;
    flex-direction: column;
}

.footer__columns p {
    color: var(--secondary-text-color);
    font-size: 23px;
    margin-bottom: 20px;
}

.footer__links a {
    font-size: 17px;
    margin-bottom: 15px;
    color: var(--main-text-color);
}

.footer__rights {
    text-align: center;
    background: var(--secondary-bg-color);
    padding: 15px 0;
}