.index__registrationAndLogin {
    min-width: 400px;
    background-color: var(--main-bg-color);
    border-radius: 10px;

    .greetAndChange {
        display: flex;
        border-bottom: 1px solid var(--secondary-bg-color);
        padding: 20px 15px;

        .greet__rows {
            margin-right: 40px;
        }

        .greet__text {
            font-size: 22px;
        }

        .changer {
            display: flex;
            align-items: center;
            font-size: 17px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
        }

        .changer:hover {
            color: var(--main-button-color);
        }
    }

    .form__container {
        padding: 15px 30px;

        .input {
            width: 100%;
            height: 40px;
            margin-bottom: 7px;
            border-radius: 5px;
            padding-left: 10px;
            background-color: var(--main-bg-color);
            border: 1px solid var(--secondary-bg-color);
            color: white;
            outline: none;
        }

        .input:focus {
            border: 1px solid var(--secondary-text-color);
        }

        .under__input {
            font-size: 12px;
            margin-bottom: 20px;
        }

        .form__forgot__password {
            text-align: end;
            cursor: pointer;
            transition: 0.3s ease-in-out;
        }

        .form__forgot__password:hover {
            color: var(--main-button-color);
        }

        .form__social {
            display: flex;
            position: relative;
            justify-content: space-around;
            margin: 20px 0;

            .social {
                width: 50px;
                height: 50px;
                background-color: white;
            }
        }

        .form__social::before {
            content: '';
            position: absolute;
            width: 90%;
            height: 1px;
            background-color: var(--secondary-bg-color);
            top: -20px;
        }
    }


}