.greeting__container {
    width: 100%;
    color: white;
}

.index__wrapper {
    width: 75%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 81px 20px;
}

.index__banner {
    display: flex;
    flex-direction: column;
    padding: 32px 42px;
    border-radius: 10px;
    background: #141414;
}

.index__banner__span {
    font-size: 17px;
    margin-bottom: 20px;
}

.super__span {
    font-size: 22px;
}

.index__banner__image__wrapper {
    display: flex;
    justify-content: space-evenly;
}

.index__banner__singUp {
    height: 185px;
}

.singUp {
    padding: 20px 10px;
    text-align: center;
    background: #4D4D4D;
    border-radius: 10px 10px 0 0;
}

.singUp__exclusive {
    color: yellow;
}

.singUp__container__text {
    margin: 10px 0;
}

.singUp__container_bottom {
    margin: 10px 0;
}

.index__registrationAndLogin {

    background: #141414;
    border-radius: 10px;
}

.greetAndChange {
    display: flex;
    border-bottom: 1px solid powderblue;
    padding: 20px 15px;
}

.greet__rows {
    margin-right: 40px;
}

.greet__text {
    font-size: 26px;
}

.changer {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.form__container {
    padding: 15px 30px;
}

.input {
    width: 100%;
    height: 40px;
    margin-bottom: 7px;
}

.under__input {
    margin-bottom: 20px;
}

.form__forgot__password {
    text-align: end;
}

.form__button {
    width: 100%;
    height: 40px;
    margin: 25px 0;
}