.greeting__container {
    width: 100%;
    color: var(--main-text-color);
}

.index__wrapper {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 81px 20px;
}

.index__banner {
    max-width: 600px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    padding: 32px 42px;
    border-radius: 10px;
    background-color: var(--main-bg-color);

    .index__banner__span {
        font-size: 17px;
        margin-bottom: 20px;
    }

    .super__span {
        font-size: 22px;
    }
}

.index__banner__image__wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;

    .index__banner__singUp {
        height: 185px;
        margin-right: 10px;
    }

    .singUp {
        padding: 20px 10px;
        text-align: center;
        background-color: var(--secondary-bg-color);
        border-radius: 10px 10px 0 0;
    }
}

.singUp__exclusive {
    color: yellow;
}

.singUp__container__text {
    margin: 10px 0;
}

.singUp__container_bottom {
    margin: 10px 0;
}

.index__registrationAndLogin {
    min-width: 400px;
    background-color: var(--main-bg-color);
    border-radius: 10px;
}

.greetAndChange {
    display: flex;
    border-bottom: 1px solid var(--secondary-bg-color);
    padding: 20px 15px;
}

.greet__rows {
    margin-right: 40px;
}

.greet__text {
    font-size: 22px;
}

.changer {
    display: flex;
    align-items: center;
    font-size: 17px;
}
