.search__coin_form {
    width: 100%;

    .search__input {
        width: 70%;
        padding: 8px 12px;
        font-size: 14px;
        border: 1px solid var(--secondary-bg-color);
        border-radius: 12px;
        background-color: hsla(0, 0%, 100%, .08);
        color: var(--main-text-color);
        outline: none;
    }

    .search__input:focus {
        border: 1px solid var(--secondary-text-color);
    }
}